<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="preload" href="https://demo-styles.deno.deno.net/fonts/Moranga-Regular.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="https://demo-styles.deno.deno.net/fonts/Moranga-Medium.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="https://demo-styles.deno.deno.net/fonts/Recursive_Variable.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="stylesheet" href="https://demo-styles.deno.deno.net/styles.css">
    <style>
      @media (prefers-color-scheme: dark) {
        body {
            background-color: #020617;
            color: #ccc;
          } 
          h1, h2, h3, a {
            color: #fff;
          }
          a {
            text-decoration-color: #ccc;
          }
          .thumbnail {
            border: 1px solid #fff;
            box-shadow: 0 0 1.4em 0.8em rgba(255,255,255, 0.05);
          }
      }

      .thumbnail {
        border: 1px solid #000;
        box-shadow: 0 0 1.4em 0.8em rgba(0,0,0, 0.2);
      }
    </style>
    <meta name="twitter:image" content="https://deno-wallpapers.philhawksworth.deno.net/wallpapers-og.webp">
    <meta name="twitter:image:alt" content="Dinosaur wallpapers for your desktop from Deno">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@deno_land">

    <meta property="og:title" content="Deno Wallpapers" />
    <meta property="og:description" content="Dinosaur wallpapers for your desktop from Deno" />
    <meta property="og:image" content="https://deno-wallpapers.philhawksworth.deno.net/wallpapers-og.webp" />
    <meta property="og:url" content="https://deno-wallpapers.philhawksworth.deno.net" />
    <meta property="og:image:alt" content="Dinosaur wallpapers for your desktop from Deno">
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Deno Wallpapers" />
  </head>
  <body>
    <header>
      <h1>Deno Wallpapers</h1>
      <p>
        A little collection of Deno wallpapers for the desktop.
      </p>
    </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <section>
    <p>
      Site built with <a href="https://github.com/denoland/wallpapers">Eleventy</a>
      and  <a href="https://deno.com">Deno</a>, with templating by <a href="https://vento.js.org/">Vento</a>. 
      Hosted by <a href="https://deno.com/deploy">Deno Deploy</a>.
    </p>
    <p>
      Clone <a href="https://github.com/philhawksworth/deno-wallpapers">this repo</a> as an example to play with on Deno Deploy by clicking the button below.
    </p>
    <p>
      <a href="https://app.deno.com/new?clone=https://github.com/philhawksworth/deno-wallpapers&build=deno%20task%20build&mode=static&static_dir=./dist">
        <img eleventy:ignore src="https://deno.com/button" alt="Deploy on Deno Deploy">
      </a>
    </p>
    </section>
  </footer>
  </body>
</html>