---
layout: layouts/base.vto
---

{{ for item of wallpapers }}
  <section class="wallpaper">
    <h2>
      {{ item.name }}
    </h2>
    <img src="/wallpapers/{{ item.name }}" alt="{{ item.name }}" class="thumbnail" />
    <p>
      <a href="/wallpapers/{{ item.name }}" class="download" download>Download</a>
    </p>
  </section>
{{ /for }}
